
<!-- ----------------------- COMIENZO DE LA BARRA BUSCADOR ---------------- -->
<section class="container">
    <div class="row">   
        <div class="col-sm-12 cuadro_semi-redondeado20-arriba bk-gris txt-blanco relleno_l-r relleno_t-b">
            <h2 class="quitar_margen_t-b txt-h-bold tama_24"> 
                <%= image_tag(@titulo_icono, :alt => "Icono", :height => "50px") + "&nbsp;".html_safe unless @titulo_icono.nil? %>
                <%= @titulo.html_safe %>
            </h2>
        </div>
    </div>
</section>
<!-- *********************** FIN DE LA BARRA BUSCADOR ******************************************* -->


