<noscript>
  <div class="mensaje_error" style="margin: 200px 0 400px 0; text-align: center; text-decoration: blink; ">
    <h1> Advertencia </h1>
    <h2>
      <p> Este sistema requiere para su funcionamiento el uso de JavaScript. </p>
      <p> Si se encuentra deshabilitado, por favor actívelo. </p>
    </h2>
  </div>
</noscript>