<%= stylesheet_link_tag  "style.css" %>

<div class="banner">
</div>
<section class="container">
  <div class="row">
<div class="col-sm-12" style="
    text-align: center;
">
<h2 class="txt-gro-bold tama_40 txt-rojo text-center" style="padding: 5% 0%;">Ranking de Jugadores <%= image_tag("silueta-jugador.png", :alt => "", :height => "80px" ) %></h2>
    </div>
  </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-sm-12 cuadro_semi-redondeado20-arriba bk-gris txt-blanco relleno_l-r relleno_t-b"  style="text-align: center; background-color: #ae8126;">
            <h2 class="quitar_margen_t-b txt-h-bold tama_24" style="">
                CATEGORÍA MENORES
            </h2>
        </div>
    </div>
</section>
<!-- ----------------------- COMIENZO DEL CUERPO ---------------- -->
<section class="container bk-gris-claro cuadro_semi-redondeado20-abajo margen_b" style="padding: 0;">
<div class="cancha">
<div class="marco marco_t1 grow">
  <div class="marco_foto"></div>
  <div class="foto_perfil"></div>
  <div class="row top_tarjeta">
    <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1">
      <p class="dato">92 ST</p>
    </div>
    <div class="col-xs-6 col-sm-6">
    <img class="img-logos_size" src="/assets/escudo.png">
    <img class="img-logos_size" src="/assets/bandera.png">
    </div>
  </div>
  <div class="fondo_gradient">
    <p class="nombre_perfil">Carlos Torres</p>
  </div>
  <div class="info">
    <p class="cat_info">Categoría: Nacional Juvenil</p>
    <p>Valoracion</p>
  <div>
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
  </div>
  <p class="points">5.5</p>
  </div>
</div>
<div class="marco marco_t2 grow">
  <div class="marco_foto"></div>
  <div class="foto_perfil"></div>
  <div class="row top_tarjeta">
    <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1">
      <p class="dato">92 ST</p>
    </div>
    <div class="col-xs-6 col-sm-6">
    <img class="img-logos_size" src="/assets/escudo.png">
    <img class="img-logos_size" src="/assets/bandera.png">
    </div>
  </div>
  <div class="fondo_gradient">
    <p class="nombre_perfil">Carlos Torres</p>
  </div>
  <div class="info">
    <p class="cat_info">Categoría: Nacional Juvenil</p>
    <p>Valoracion</p>
  <div>
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
  </div>
  <p class="points">5.5</p>
  </div>
</div>
<div class="marco marco_t3 grow">
  <div class="marco_foto"></div>
  <div class="foto_perfil"></div>
  <div class="row top_tarjeta">
    <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1">
      <p class="dato">92 ST</p>
    </div>
    <div class="col-xs-6 col-sm-6">
    <img class="img-logos_size" src="/assets/escudo.png">
    <img class="img-logos_size" src="/assets/bandera.png">
    </div>
  </div>
  <div class="fondo_gradient">
    <p class="nombre_perfil">Carlos Torres</p>
  </div>
  <div class="info">
    <p class="cat_info">Categoría: Nacional Juvenil</p>
    <p>Valoracion</p>
  <div>
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
  </div>
  <p class="points">5.5</p>
  </div>
  </div>
<div class="marco marco_t4 grow">
  <div class="marco_foto"></div>
  <div class="foto_perfil"></div>
  <div class="row top_tarjeta">
    <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1">
      <p class="dato">92 ST</p>
    </div>
    <div class="col-xs-6 col-sm-6">
    <img class="img-logos_size" src="/assets/escudo.png">
    <img class="img-logos_size" src="/assets/bandera.png">
    </div>
  </div>
  <div class="fondo_gradient">
    <p class="nombre_perfil">Carlos Torres</p>
  </div>
  <div class="info">
    <p class="cat_info">Categoría: Nacional Juvenil</p>
    <p>Valoracion</p>
  <div>
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
  </div>
  <p class="points">5.5</p>
  </div>

  </div>
<div class="marco marco_t5 grow">
  <div class="marco_foto"></div>
  <div class="foto_perfil"></div>
  <div class="row top_tarjeta">
    <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1">
      <p class="dato">92 ST</p>
    </div>
    <div class="col-xs-6 col-sm-6">
    <img class="img-logos_size" src="/assets/escudo.png">
    <img class="img-logos_size" src="/assets/bandera.png">
    </div>
  </div>
  <div class="fondo_gradient">
    <p class="nombre_perfil">Carlos Torres</p>
  </div>
  <div class="info">
    <p class="cat_info">Categoría: Nacional Juvenil</p>
    <p>Valoracion</p>
  <div>
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
    <img src="/assets/estrella-amarilla.png" class="star_size">
  </div>
  <p class="points">5.5</p>
  </div>

  </div>
</div>
</section>
<!-- -------
